html,
body {
    padding: 0;
    margin: 0;
}

.navbar a {
    color: inherit;
}

#loader-1 {
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

p {
    line-height: 1.5;
    margin: 1.5em 0;
}
